body{
    justify-content: space-around;
    text-align: center;
}

section{
    display: inline-table;
    justify-content: center;
    height: 100%;
}
ul{
    list-style: none;
    height: 10vh;
}

.save-load{
    text-align: right;
}

.draggingElement{
    color: blue;
}

.over{
    color: brown;
}